
<form action="" class="search-form" >
    <div class="form-group search-bar">
        <label for="search" class="sr-only">Search</label>
        <span class="fa fa-search search-img"></span>
        <input  autocomplete="off"
                [(ngModel)]="searchParam" 
                [typeahead]="usersfound"
                [isAnimated]="true"
                type="search" (keyup)="search($event)" 
                class="form-control" 
                name="search" 
                placeholder="Search..."
                >
    </div>
</form>