.search-form {
    width: 196px;
    margin-top: 8px;
}

.search-form .search-bar {
    width: 38px;
    height: 28px;
    transition: all 0.35s;
}

input[type=search] {
  color: black;
  padding-right: 20px;
  border: 0 none;
  box-shadow: none;
  display:block;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24) inset;
  border: solid 1px #ccc;
  border-radius: 64px;
  transition: all 0.35s;
}

input[type=search]::placeholder,
input[type=search]::content{
  text-indent: 16px;
}

input[type=search]:focus {
    width: 296px !important;
    text-indent: 16px;
}

.search-bar:hover,
.search-bar:focus {
  width: 296px !important;
}

.search-bar .search-img {
  color: black;
  position: absolute;
  display: block;
  width: 38px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  padding-top: 4px;
}