/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';

.db-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.db-box {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.534);
    margin-top: 5px;
}


.spinner {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-top: 15%;
  }

.db-row {
    flex-direction: row;
}

.db-col {
    flex-direction: column;
}

.db-mc-1 > * {
    margin: 1px;
}

.db-mc-2 > * {
    margin: 2px;
}

.db-mc-3 > * {
    margin: 3px;
}

.db-mc-4 > * {
    margin: 4px;
}

.db-mc-5 > * {
    margin: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.workColor{
    color: rgb(71, 163, 117);
} 

.doColor {
    color: rgb(179, 114, 95);
} 

.wfhColor{
    color: rgb(224, 191, 118);
}

.sdColor{
    color: rgb(120, 136, 167);
}

.selColor{
    color: rgb(92, 199, 163);
}

.workColor-bg{
    background-color: rgb(71, 163, 117);
} 

.doColor-bg {
    background-color: rgb(179, 114, 95);
} 

.wfhColor-bg{
    background-color: rgb(224, 191, 118);
}

.sdColor-bg{
    background-color: #7888A7 !important;
}

.selColor-bg{
    background-color: rgb(92, 199, 163);
}

.bgCol {
    background-color: #D9D9D9 !important;
}

button.mat-primary {
    background-color: #44318D !important;
}

.bgCol-primary {
    background-color: #44318D !important;
}

.bgCol-secondary {
    background-color: #D93F87 !important;
}
.bgCol-light {
    background-color: #8265A7 !important;
}
.bgCol-dark {
    background-color: #2A1B3C !important;
}

@font-face {
    font-family: 'Questrial';
    src: url('./assets/Questrial-Regular.ttf'); /* IE9 Compat Modes */
    src: url('./assets/Questrial-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/Questrial-Regular.ttf') format('ttf'), /* Modern Browsers */
         url('./assets/Questrial-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

/*Customize scrollbars*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(83, 83, 83) rgb(255, 255, 255);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #2A1B3C;
    border:1px #A4B3B6 solid;
  }