 <div  *ngIf="isAdmin()">
 <select  class="form-control" name="requestStatus" [(ngModel)]="requestSearch.employeeId" (ngModelChange)="search()">
  <option [ngValue]="null">Any</option>
  <option *ngFor="let user of users | keyvalue" [ngValue]="user.value.id">{{user.value.fName}}</option>
</select>
 <select  class="form-control" name="requestStatus" [(ngModel)]="requestSearch.requestStatus" (ngModelChange)="search()">
  <option [ngValue]="null" [selected]="true">All</option>
  <option [ngValue]="0">Pending</option>
  <option [ngValue]="1">Accepted</option>
  <option [ngValue]="2">Declined</option>
</select>
 <select class="form-control" name="requestType" [(ngModel)]="requestSearch.requestType" (ngModelChange)="search()">
  <option [ngValue]="null">All</option>
  <option [ngValue]="1">Day off</option>
  <option [ngValue]="2">Work From Home</option>
  <option [ngValue]="3">Sick day</option>
</select>

</div>
<form *ngIf="!isAdmin()" #requestForm="ngForm" (ngSubmit)="submit()">
  <input class="form-control" type="date" name="startDay" [(ngModel)]="formModel.startDay">
  <input class="form-control" type="date" name="endDay" [(ngModel)]="formModel.endDay">
    <select class="form-control" name="requestType" [(ngModel)]="formModel.requestType">
      <option [ngValue]="1">Day off</option>
      <option [ngValue]="2">Work From Home</option>
      <option [ngValue]="3">Sick day</option>
    </select>
  <button type="submit" >Submit Request</button>
</form>
 <table class="table table-bordered m-auto" style="background-color: rgba(255, 255, 255, 0.192);">
  <thead >
      <tr >
        <th>Employee</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Status</th>
        <th *ngIf="isAdmin()"></th>
      </tr>
      
      <tr *ngFor="let request of requestHistory">
        <ng-container *ngIf="request.requestType != 0">
          <th *ngIf="isAdmin() ">{{getUserName(request.employeeId)}}</th>
          <th>{{request.date | date: 'dd-MM-yyyy'}}</th>
          <th>{{request.endDate | date: 'dd-MM-yyyy'}}</th>
          <th>{{requestType(request.requestType)}}</th>
          <th>{{status(request.status)}}</th>
          <th *ngIf="isAdmin() && request.status == 0">
            <button (click)="changeStatus(request.id, 1)">Accept</button>
            <button (click)="changeStatus(request.id, 2)">Decline</button>
          </th>
        </ng-container>
      </tr>
  </thead>