<img src="../../assets/pexels-fwstudio-163999.jpg" class="bg">
<div class="login-window">
  <!-- <div class="window-header">Login Page</div> -->
  <form #loginForm="ngForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input type="password" #passElm matInput name="pass" [(ngModel)]="password" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput name="passConf" [(ngModel)]="passwordConfirm" required>
    </mat-form-field>
    
    <button [disabled]="!loginForm.valid" class="btn btn-success window-item mb-5" type="submit">Change</button>
  </form>
</div>