
<ng-template [ngIf]="shifts!=undefined" [ngIfElse]="loading">
    <button mat-raised-button type="button" class="create-btn" (click)="openDialog()">Create Shift</button>
    <table class="table table-striped table-borderless" style="max-width: 500px !important;" >
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="shifts != undefined">
            <tr *ngFor="let shift of shifts">
                <th  class="align-middle">{{shift.name}}</th>
                <th  class="align-middle">{{shift.startTime | date: 'HH:mm'}}</th>
                <th  class="align-middle">{{shift.endTime | date: 'HH:mm'}}</th>
                <th  class="align-middle"><button mat-raised-button color="warn" (click)="deleteShift(shift.id)">Delete</button></th>
            </tr>
        </tbody>
      </table>

</ng-template>

<ng-template #loading> <mat-spinner class="spinner"></mat-spinner></ng-template>