<div class="rightbar" id="rightMenu">
  <a href="#1"><div><i class="fa fa-home fa-fw mr-1"></i>DASHBOARD</div></a>
  <a href="#2"><div><i class="fa fa-calendar fa-fw mr-1"></i>CALENDAR</div></a>
  <a href="#3"><div><i class="fa fa-user fa-fw mr-1"></i>MY PROFILE</div></a>
  <a href="#4"><div><i class="fa fa-users fa-fw mr-1"></i>COMPANY</div></a>
  <a href="#5"><div><i class="fa fa-folder-open fa-fw mr-1"></i>DOCUMENTS</div></a>
  <a href="#6"><div><i class="fa fa-plane fa-fw mr-1"></i>TIME OFF</div></a>
</div>