
<div class="rightbar" id="rightMenu">
  <a [routerLink]="['/home']"><div><i class="fa fa-home fa-fw mr-1"></i>DASHBOARD</div></a>
  <a [routerLink]="['/calendar']"><div><i class="fa fa-calendar fa-fw mr-1"></i>CALENDAR</div></a>
  <a [routerLink]="['/profile']"><div><i class="fa fa-user fa-fw mr-1"></i>MY PROFILE</div></a>
  <a [routerLink]="['/company']"><div><i class="fa fa-users fa-fw mr-1"></i>COMPANY</div></a>
  <a [routerLink]="['/documents']"><div><i class="fa fa-folder-open fa-fw mr-1"></i>DOCUMENTS</div></a>
  <a [routerLink]="['/timeoff']"><div><i class="fa fa-plane fa-fw mr-1"></i>TIME OFF</div></a>
</div>