.rightbar {
    display:flex;
    flex-direction: column;
}
.rightbar a {
    color: white;
}
.rightbar a:hover {
    text-decoration: none;
}
.rightbar div {
    margin: auto;
    width: 100%;
    border-bottom: 1px solid rgb(22, 22, 27);
    padding-left: 20px;
    line-height: 50px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;     
    transition:all 0.3s ease;
    color: rgb(255, 255, 255);
    font-family:Questrial;
    font-size: medium;
}

.rightbar div:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(40, 179, 35);
    cursor: pointer;
}

.rightbar div i {
    padding-top: 15px;
}