img {
    border-radius: 50%;
    /* border: 5px solid gray; */
    box-shadow: 4px 10px 15px rgba(126, 122, 122, 0.788);
    margin-left: 40px;
    margin-top: 20px;
  }

#change_profile_btn{
    margin-left: 40px;

    position: absolute; 
    top: 27px; 
    left: 170px;
    width: 50px; 
    height: 50px;
    text-align: center;
    border-radius: 50%;
    color:white;
    padding:5px 10px;
    border: 1px white solid;
    font-size:20px;
}

.container{
  margin-top: 50px;
  margin-left: 20px;
}

.col{
  min-width: 150px;
  max-width: 600px;
  padding: 8px;
  width: 100%;
}

button.col {
  margin-bottom: 30px;
  max-width: 200px;
}

.col :disabled {
  color: black !important;
}

.blacky {
  color: black !important;
}

/deep/ .mat-select-min-line {
  color: black !important;
}