<table class="table table-bordered" style="background-color: rgba(255, 255, 255, 0.192);">
  <thead >
      <tr >
          <th>name</th>
          <th *ngIf="user">{{user.fname || ""}}</th>
      </tr>
      <tr >
          <th>email</th>
          <th *ngIf="user">{{user.email || ""}}</th>
      </tr>
      <tr >
          <th>email</th>
          <th *ngIf="user">{{user.lname || ""}}</th>
      </tr>
      <tr >
          <th>email</th>
          <th *ngIf="user">{{user.nationality || ""}}</th>
      </tr>
      <tr >
          <th>email</th>
          <th *ngIf="user">{{user.phonenumber || ""}}</th>
      </tr>
      <tr >
          <th>email</th>
          <th *ngIf="user">{{user.workedfromhone || ""}}</th>
      </tr>
      <tr >
          <th>email</th>
          <th *ngIf="user">{{user.daysoffleft || ""}}</th>
      </tr>
      <tr >
          <th>email</th>
          <th *ngIf="user">{{user.dateofbirth || ""}}</th>
      </tr>
      
      <tr >
        <th>email</th>
        <th *ngIf="user">{{user.address || ""}}</th>
    </tr>
    <tr >
      <th>email</th>
      <th *ngIf="user">{{user.country || ""}}</th>
  </tr>
  </thead>
</table>
