<ng-template class="container" [ngIf]="user!= undefined" [ngIfElse]="loading">

    
<form (ngSubmit)="changePassword(user.id)" #form="ngForm">
    <button *ngIf="isAdmin()" [disabled]="!form.valid || !form.dirty" type="submit">Change Password</button>
    <input *ngIf="isAdmin()" name="pass" minlength="6" type="password" [(ngModel)]="password">
</form>
    

<img *ngIf="user.pictureUrl==undefined" class="" style="width: 200px; height: 200px;" src="../../assets/user.png" alt="OOps">
<img *ngIf="user.pictureUrl!=undefined" class="" style="width: 200px; height: 200px;" src={{user.pictureUrl}} alt="OOps">

<input #fileUpload type="file" class="file-upload" style="display: none;" (change)="uploadPhoto($event)">
<button *ngIf="isUser()" (click)="fileUpload.click()">Change Profile Picture</button>

<table class="table table-bordered" style="background-color: rgba(255, 255, 255, 0.192);">
  <thead >

    <tr>
        <th>Email</th>
        <th *ngIf="user">{{user.email || ""}}</th>
    </tr>

    <tr >
        <th>First Name</th>
        <th *ngIf="user">{{user.fName || ""}}</th>
    </tr>

    <tr >
        <th>Last Name</th>
        <th *ngIf="user">{{user.lName || ""}}</th>
    </tr>

    <tr *ngIf="!isAdmin() else adminDepartments">
        <th>Department</th>
        <th>{{user.inDepartment?.name || ""}}</th>
    </tr>
    <ng-template  #adminDepartments>
    <tr *ngIf="departmentsExist()">
        <th>Department</th>
        <select  [(ngModel)]="userDepartmentId" (ngModelChange)="updateDepartment()">
            <option *ngFor="let dep of departments | keyvalue" [ngValue]="dep.value.id">{{dep.value.name}}</option>
        </select>
    </tr>
    
    <tr *ngIf="!departmentsExist()">
        <th>Department</th>
        <th>No departments Available</th>
    </tr>
    </ng-template>
    


    <tr *ngIf="!isAdmin() else adminRoles">
        <th>Role</th>
        <th>{{user.role?.roleName || ""}}</th>
    </tr>
    <ng-template #adminRoles>
    <tr *ngIf="user.inDepartment && hasRoles()">
        <th>Role</th>
        <select [(ngModel)]="userRoleId" (ngModelChange)="updateRole()">
            <option *ngFor="let role of roles" [ngValue]="role.id">{{role.roleName}}</option>
        </select>
    </tr>
    
    <tr *ngIf="!departmentsExist() || !hasRoles()">
        <th>Roles</th>
        <th>No roles Available</th>
    </tr>
    </ng-template>
    <tr>
        <th>Date Of Birth</th>
        <th *ngIf="user">{{user.dateOfBirth | date: 'dd-MM-yyyy' || ""}}</th>
    </tr>

    <tr *ngIf="isUser()">
        <th>Nationality</th>
        <th *ngIf="user">{{user.nationality || ""}}</th>
    </tr>

    <tr *ngIf="isUser()">
        <th>Phone Number</th>
        <th *ngIf="user">{{user.phoneNumber || ""}}</th>
    </tr>
      
    <tr *ngIf="isUser()">
        <th>Address</th>
        <th *ngIf="user">{{user.address || ""}}</th>
    </tr>

    <tr *ngIf="isUser()">
      <th>Country</th>
      <th *ngIf="user">{{user.country || ""}}</th>
    </tr>

    <tr *ngIf="isUser()">
        <th>Days Off Available</th>
        <th *ngIf="user">{{user.daysOffLeft}}</th>
    </tr>

  </thead>
</table>

</ng-template>

<ng-template #loading>Loading..</ng-template>
