/* .tile {
    border-radius: 15px;
    background-color: white;
    padding-top: 400px !important;
} */

.box-style{
    width: 100%; 
    height: 100%;
    background-color: white;
    overflow:auto;
    overflow-x:hidden;
    display: block;
    border-radius: 20px;
    border: 1px rgba(128, 128, 128, 0.425) solid;
}

mat-grid-list{
    margin:40px;
}