<div class="db-container db-row">
  <div class="db-box db-col db-mc-5" style="background-color: white;">
    <app-posts></app-posts>
  </div>
  <div class="db-box db-col db-mc-5" style="background-color: white;">
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
    <p>hello</p>
  </div>
  <div class="db-box db-col db-mc-5" style="background-color: white;">
    <input type="button"><input type="text">
  </div>
  <div class="db-box db-col db-mc-5" style="background-color: white;">
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  </div>
</div>