<!-- 

<div class="container" style="margin-top: 100px">
    <ul>
        <li *ngFor='let user of users'>
            {{user.id}} - {{user.email}}
        </li>
    </ul>
</div> -->

<body class="bgCol">
<div *ngIf="this.isLoggedIn(); else loginPage">
    <app-nav>
    </app-nav>
    <div class="side-bar-container bgCol-dark">
        <app-side-bar></app-side-bar>
    </div>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #loginPage>
    <img src="../assets/pexels-fwstudio-163999.jpg" class="bg">
        <mat-tab-group animationDuration="0ms" >
            <mat-tab label="Login"> <app-login-page></app-login-page> </mat-tab>
            <mat-tab label="Send CV"> <app-cv></app-cv> </mat-tab>
        </mat-tab-group>
</ng-template>
    
</body>