.form-cont{
    background-color: white;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 150px;
}

.sendBtn{
    margin-top:10px;
}