
<form #cvForm="ngForm" class="container" style="max-width: 500px;" (ngSubmit)="submit()">
  <div class="col form-cont" >

    <mat-form-field appearance="fill" class="col">
      <mat-label>First Name</mat-label>
      <input type="text" #nameElm minlength="5" maxlength="20" matInput name="fName" [(ngModel)]="cvModel.fName" required>
      <mat-hint align="end">{{nameElm.value?.length || 0}}/20</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill"  class="col">
      <mat-label>Last Name</mat-label>
      <input type="text" #lNameElm minlength="5" maxlength="20" matInput name="lName" [(ngModel)]="cvModel.lName" required>
      <mat-hint align="end">{{lNameElm.value?.length || 0}}/20</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill"  class="col">
      <mat-label>Cover Letter</mat-label>
      <textarea rows="8" cols="40" #coverLetterElm maxlength="250" class="textarea" name="coverLetter" [(ngModel)]="cvModel.coverLetter" matInput required></textarea>
      <mat-hint align="end">{{coverLetterElm.value?.length || 0}}/250</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col" >
      <mat-label>Email</mat-label>
      <input type="email" matInput name="email" [(ngModel)]="cvModel.email" email required>
    </mat-form-field>

    <input #fileUpload type="file" class="file-upload col" style="display: none;" name="cvFile" (change)="uploadCV($event)" required>

    <button mat-raised-button class="col" type="button"(click)="fileUpload.click()">Upload CV (Max: 2MB) in jpg, png or doc form</button>
    <button mat-raised-button class="col sendBtn" type="submit" [disabled]="!cvForm.valid">Send</button>

  </div>
</form>