<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">HR System</a>

    <div class="container " >
        <div class="col-md-4 col-md-offset-3 mt-3">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
    </div>

        <!-- <div class="dropdown" *ngIf="loggedIn" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome user</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div> -->



        <!-- <form *ngIf="!loggedIn" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user mr-1"></i>Edit Profile</a>
            <input
                name = "username"
                [(ngModel)]="model.email"
                class="form-control mr-sm-2"
                type="text" 
                placeholder="Username">
            <input
                name = "password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form> -->
    </div>
</nav>