<div class="container">
    <form class="registerForm" #registerForm="ngForm" [(ngModel)]="user" (ngSubmit)="register()">
    <mat-form-field appearance="fill" class="col">
        <mat-label>Email</mat-label>
        <input type="email" matInput name="email" [(ngModel)]="user.email" email required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
        <mat-label>Password</mat-label>
        <input type="password" matInput name="password" minlength="6" [(ngModel)]="user.password" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput name="confirmPassword" minlength="6" [(ngModel)]="passConfirm" required>
    </mat-form-field>

    <mat-form-field *ngIf="departmentsExist()" appearance="fill" class="col">
        <mat-label>Department</mat-label>
        <mat-select name="department" [(ngModel)]="user.departmentId" required  (ngModelChange)="updateDepartment()">
        <mat-option *ngFor="let dep of departments | keyvalue" [value]="dep.value.id" >{{dep.value.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!departmentsExist()" class="col">
        <mat-label>Department</mat-label>
        <input type="text" [disabled]="true" matInput value="No Departments Available!">
    </mat-form-field>

    <mat-form-field *ngIf="rolesExist()" appearance="fill" class="col">
        <mat-label>Role</mat-label>
        <mat-select name="roleId" [(ngModel)]="user.roleId" required>
        <mat-option *ngFor="let role of roles" [value]="role.id" >{{role.roleName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!rolesExist()" class="col">
        <mat-label>Role</mat-label>
        <input type="text" [disabled]="true" matInput value="No Roles Available for this Department!">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
        <mat-label>First Name</mat-label>
        <input #fname maxlength="20" matInput name="fName" [(ngModel)]="user.fName" required>
        <mat-hint align="end">{{fname.value?.length || 0}}/20</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
        <mat-label>Last Name</mat-label>
        <input #lname maxlength="30" matInput name="lName" [(ngModel)]="user.lName" required>
        <mat-hint align="end">{{lname.value?.length || 0}}/30</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
        <mat-label>Date of Birth</mat-label>
        <input name="dateOfBirth" matInput [matDatepicker]="picker" [(ngModel)]="user.dateOfBirth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="col">
        <mat-label>Phone Number</mat-label>
        <input #pnumber maxlength="12" matInput name="phoneNumber" [(ngModel)]="user.phoneNumber" required>
        <mat-hint align="end">{{pnumber.value?.length || 0}}/12</mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="col">
        <mat-label>Address</mat-label>
        <input matInput name="address" [(ngModel)]="user.address" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="col">
        <mat-label>Country</mat-label>
        <input matInput name="country" [(ngModel)]="user.country" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="col">
        <mat-label>Nationality</mat-label>
        <input matInput name="nationality" [(ngModel)]="user.nationality" required>
    </mat-form-field>

    <p class="ml-3">
        <mat-checkbox name="isAdmin" [(ngModel)]="user.isAdmin">Admin</mat-checkbox>
    </p>

    <p>
    <button class="col" mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Register </button>
    </p>
    </form>
    
</div>