<ng-template [ngIf]="this.scheduleEntries != undefined" [ngIfElse]="loading">

<div *ngIf="isAdmin()" id="add-calendar" class="container">
<mat-form-field appearance="fill" class="row">
  <mat-label>Work Shifts</mat-label>
  <mat-select  [(ngModel)]="workShiftId" name="">
    <mat-option [value]="null">None</mat-option>
    <mat-option *ngFor="let shift of workShifts | keyvalue" [value]="shift.key">{{shift.value.name}}
      ({{shift.value.startTime | date: 'HH:mm'}} - {{shift.value.endTime | date: 'HH:mm'}})</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="row">
  <mat-label>Type</mat-label>
<mat-select [(ngModel)]="scheduleType" name="">
  <mat-option [value]=0>Work</mat-option>
  <mat-option [value]=1>Day Off</mat-option>
  <mat-option [value]=2>Work From Home</mat-option>
  <mat-option [value]=3>Sick Day</mat-option>
</mat-select>
</mat-form-field>

<button mat-raised-button  class="row" color="primary" [disabled]="isEntryValid()" (click)="addCalendarEntry()">Assign</button>
<button mat-raised-button  class="row" color="warn" (click)="addCalendarEntry(false)">Clear</button>
</div>

<div id="calendar-table" >
  <div class="container-fluid bgCol-light rounded" style="height: 80px;" >    
  <div class="row">
    <div *ngIf="this.showViews">
      <mat-form-field appearance="fill" >
        <mat-label>View</mat-label>
      <mat-select [(ngModel)]="_view" name="" class="front-panel">
        <mat-option [value]='"week"'>Week</mat-option>
        <mat-option [value]='"month"'>Month</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="row flex-grow-1 justify-content-center align-items-center text-center">
      <button mat-mini-fab color="primary" class="flex-grow-0" (click)="prevMonth()"><mat-icon>arrow_left</mat-icon></button>
      <div class="flex-grow-1" style="font-size: 160%; max-width: 70%;">{{this.dateRangeStr}}</div>
      <button mat-mini-fab color="primary"  class="flex-grow-0" (click)='nextMonth()'><mat-icon>arrow_right</mat-icon></button>
    </div>
  </div>
  </div>
  <div class="table-cont" [ngStyle]="{'max-height': maxHeight}">
  <table class="table table-striped table-borderless m-auto" style="background-color: rgba(255, 255, 255, 0.192);">
      <thead>
          <tr class="thead-light"  style="position: sticky;">
              <th class="sticky-top" style="width: 200px">Employee</th>
              <th class="sticky-top" scope="col" *ngFor="let date of dataSource.data">{{date | date : 'EEEEEE'}}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of employees" >
            <th class="text-nowrap">{{user.fName}} {{user.lName}}</th>
            <th matRipple [matRippleUnbounded]="false" scope="col" *ngFor="let date of dataSource.data" container="body" 
              style="padding-left: 0 !important;padding-right: 0 !important;" [ngbTooltip]="getShiftStr(date, user.id)"
                (click)="dateClicked(date, user.id)" class="text-center ">
                <div [ngClass]="getColor(date, user.id)" >
                  {{date | date : 'dd'}}</div>          
            </th>
        </tr>
      </tbody>
      
  </table>
</div>
  <div class="container row info_buttons" style="font-size: 1rem;">
    <i class="fa fa-circle " [ngClass]="calendarColors[0]"></i> {{'&nbsp;'}} Work {{'&emsp;'}}
    <i class="fa fa-circle " [ngClass]="calendarColors[1]"></i> {{'&nbsp;'}} Day Off {{'&emsp;'}}
    <i class="fa fa-circle " [ngClass]="calendarColors[2]"></i> {{'&nbsp;'}} Work From Home {{'&emsp;'}}
    <i class="fa fa-circle " [ngClass]="calendarColors[3]"></i> {{'&nbsp;'}} Sick Day   {{'&emsp;'}}
  </div>
</div>

</ng-template>
<ng-template #loading><mat-spinner class="spinner"></mat-spinner></ng-template>