<form (ngSubmit)="close()" #form="ngForm">
  <p>
  <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput name="pass" minlength="6"  [(ngModel)]="password" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput name="confirmPass" minlength="6"  [(ngModel)]="confirmPassword" required>
    </mat-form-field>
  </p>
  <p>
  <button mat-raised-button [disabled]="!form.valid || !form.dirty" type="submit">Change Password</button>
</p>
</form>