<ng-template class="container" [ngIf]="users!= undefined && departments != undefined" [ngIfElse]="loading">

  <mat-form-field appearance="fill">
    <mat-label>Departments</mat-label>
  <mat-select [value]="departmentName">
    <mat-option  (click)="filterByDepartment(null)" [value]="'All Departments'">All Departments</mat-option>
    <mat-option *ngFor="let department of departments" [value]="department.name" (click)="filterByDepartment(department.id, department.name)">{{department.name}}</mat-option>
  </mat-select>
  </mat-form-field>

<div class="row">
  <mat-card class="row ml-4 mt-2 mb-2" *ngFor="let user of users">
    <mat-card-header>
      <mat-card-title>{{user.fName || 'No fName'}} {{user.lName || 'No lName'}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image style="width: 200px; height: 200px;" [src]="user.pictureUrl || '../../assets/user.png'" alt="OOps">
    <mat-card-content>
      <p><b>Email: </b>{{user.email || 'No email'}}</p>
      <p><b>Department: </b>{{user?.inDepartment?.name || 'No department'}} - {{user?.role?.roleName || 'No role'}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/profile']" [queryParams]="{userId: user.id}">PROFILE</button>
      <button mat-raised-button color="warn" *ngIf="isAdmin() && !isUser(user.id)"(click)="confirmDelete(user.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>

</ng-template> 
<ng-template #loading><mat-spinner class="spinner"></mat-spinner></ng-template>