<div class="login-window">
  <!-- <div class="window-header">Login Page</div> -->
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" #emailElm matInput name="email" [(ngModel)]="loginInfo.email" email required>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password"matInput name="pass" [(ngModel)]="loginInfo.password" required>
    </mat-form-field>
    
    <button [disabled]="!loginForm.valid" class="btn btn-success window-item" type="submit">Login</button>
    <div class="window-item text-small window-tooltip" data-toggle="tooltip" data-placement="right" 
      title="Contact your administrator in order to change your password">Forgot your password?</div>
  </form>
</div>