<div class="login-window">
  <!-- <div class="window-header">Login Page</div> -->
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="window-label">EMAIL</div>
    <input class="window-item" type="email" name="mail" style="min-height: 35px;" [(ngModel)]="loginInfo.email" required email>
    <div class="window-label">PASSWORD</div>
    <input class="window-item" type="password" name="pass" style="min-height: 35px;" [(ngModel)]="loginInfo.password" required>
    <button [disabled]="!loginForm.valid" class="btn btn-success window-item" type="submit">Login</button>
    <div class="window-item text-small window-tooltip" data-toggle="tooltip" data-placement="right" 
      title="Contact your administrator in order to change your password">Forgot your password?</div>
  </form>
</div>