.login-window {
    background-color: rgb(142, 140, 175);
    border: 1px solid rgba(70, 67, 67, 0.527);
    position: fixed;
    display: flex; 
    border-radius: 4px;
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top: 5%;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.24);
}

.login-window form {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.window-header {
    width: 100%;
    top: 0;
    position:relative;
    background-color: rgb(70, 64, 99);
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
}

.window-item {
    border-radius: 4px;
    flex: auto;
    max-height: 40px;
    margin-top: 15px;
    border: 1px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(67, 64, 71);
}