<input #fileUpload type="file" class="file-upload" style="display: none;" (change)="uploadDocument($event)">
<button mat-raised-button (click)="fileUpload.click()">Upload Document</button>
<table class="table table-striped table-borderless m-auto" style="background-color: rgba(255, 255, 255, 0.192);">
  <ng-template [ngIf]="this.documents" [ngIfElse]="loading">
  <tbody >
      <tr *ngFor="let doc of documents">
          <th>{{doc.originalFileName}}</th>
          <button mat-raised-button (click)="copyToCp(doc.fileUrl)">Copy Url</button>
          <button mat-raised-button color="warn" (click)="deleteDocument(doc.id)">Delete</button>
          <button mat-raised-button (click)="downloadFile(doc.fileUrl, doc.originalFileName)"><i class="fa fa-cloud-download fa-2x"></i></button>
      </tr>
  </tbody>
  </ng-template>
</table>
<ng-template #loading><mat-spinner class="spinner"></mat-spinner></ng-template>